body {
    margin: 0;
    height: 100vh;

    background: linear-gradient(to bottom,
        #000000 0%,           /* negro sólido arriba */
        rgba(0, 0, 0, 0.7) 40%, /* transición oscura */
        rgba(0, 0, 0, 0.3) 70%, /* más transparente */
        rgba(0, 0, 0, 0) 100%   /* completamente transparente abajo */
    ),
    url('fondo1.jpg'); 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
