body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom,
                rgba(0,0,0,0.3) 0%,
                rgba(0,0,0,0.7) 60%,
                #000000 100%),
                url('Fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

body {
    min-height: 100vh;
    background-attachment: fixed;
    }

