body{
    background: linear-gradient(to bottom,
                rgba(0,0,0,0.3) 0%,
                rgba(0,0,0,0.7) 60%,
                #000000 100%),
                url('../assets/Fondo.jpg');
    background-position: center;
    background-size: cover;
}